header {
  min-height: 5rem;
  box-shadow: 0 6px 15px -2px rgba(0, 0, 0, 0.356);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-header {
  width: 50%;
  padding: 0 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wallet-container {
  width: 200px;
  display: flex;
  align-items: center;
}

.wallet {
  height: 30px;
  padding: 0 10px;

  background-color: #12202c;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.wallet p {
  font-weight: 600;
  font-size: 0.9rem;
  color: white;
  margin: 0;
}

.wallet img {
  height: 16px;
  width: 16px;
}

.wallet-btn {
  height: 30px;
  padding: 0 10px;

  border-radius: 0 3px 3px 0;
  background-color: #1374da;
  color: white;

  font-weight: bold;
  border: none;
  cursor: pointer;
}

.wallet-ifo {
  display: flex;
  align-items: center;
  margin-left: 3px;
}

.info {
  width: 100%;
  height: 30px;
}

@media (max-width: 1024px) {
  .container-header {
    width: 100%;
    margin: 0;
    padding: 0 1rem;
  }
}
