.container-game {
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Menu */

.container-menu {
  width: 300px;
  height: 600px;
  padding: 10px;

  background-color: #213744;
  border-radius: 8px 0 0 8px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.start-btn {
  width: 100%;
  height: 50px;

  border-radius: 5px;
  border: none;

  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
}

/* Input */

.selection-container {
  min-height: 40px;
}

.selection {
  width: 100%;
  height: 35px;
  padding: 0 2px;

  border: 2px solid #2d4552;
  border-radius: 2px;

  background-color: #0f212f;
  color: white;

  cursor: pointer;
  font-weight: bold;
}

p {
  margin-bottom: 3px;
  margin-left: 3px;
  color: #b1bad3;

  font-weight: 500;
  font-size: 0.8rem;
  pointer-events: none;
}

.input-container {
  width: 100%;
  height: 35px;

  display: flex;

  border-radius: 2px;

  background-color: #0f212f;
  color: white;

  cursor: pointer;
  font-weight: bold;
}

.bet-input {
  width: 100%;
  padding: 0 5px;

  border: 2px solid #2d4552;
  border-radius: 2px 0 0 2px;

  background-color: #0f212f;
  color: white;

  font-weight: bold;
}

.bet-input:focus {
  outline: none;
  border: 2px solid #556f86;
}

.action-buttons {
  display: flex;
  align-items: center;
}

.action-buttons button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #2d4552;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-buttons button:hover {
  background-color: #556f86;
}

.max-btn {
  border-radius: 0 2px 2px 0;
  border-left: 2px solid;
}

/* BOARD */

.container-main-board {
  width: 800px;
  height: 600px;

  background-color: #0f212f;
  border-radius: 0 8px 8px 0;

  padding: 20px 100px;
  position: relative;
}

.container-board {
  height: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  position: relative;
}

.card {
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-4px);
  background-color: #3E596F !important;
}


.container-buttons {
  width: 100%; 
  display: flex;
}

.win {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.container-win {
  width: 150px;
  height: 110px;

  border-radius: 8px;
  border: 3px solid #00e701;
  background-color: #0f212f;
  color: #556f86;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.win-multi {
  color: #00e701;
}

.container-win-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.container-win hr {
  width: 30%;
  border: 1px solid #556f86;
  margin: 10px;
}

.win-amount {
  color: #00e701;
  font-size: 0.9rem;
}

.container-win img {
  height: 14px;
  width: 14px;
}

.info-rewards-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-rewards-totalBet {
  height: 35px;
  padding: 0 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 2px;
  border: 2px solid #2d4552;
  background-color: #0f212f;
}

.info-rewards-totalBet p {
  margin: 0;

  font-size: 1rem;
  font-weight: bold;

  color: white;
}

@media (max-width: 1024px) { 
  .container-game {
    flex-direction: column;
  }

  .container-main-board {
    width: 400px;
    height: 400px;
    padding: 10px;
    border-radius: 0 0 8px 8px;
  } 

  .container-menu {
    width: 400px;
    height: 300px;
    border-radius: 8px 8px 0 0;
  }
 }  
