.container-main {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-menu {
  width: 400px;
  height: 600px;
  padding: 20px;

  background-color: #0f1223;
  border-radius: 8px 0 0 8px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.start-btn {
  width: 100%;
  height: 40px;

  background-color: #ffe920;
  border-radius: 5px;
  border: none;


  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}

.container-btns {
  width: 100%;
}

/* Menu */

.container {
  width: 100%;
}

.selection-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1a1a2e;

  border-radius: 8px;
}

.selection-container button {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.selection-container button:hover {
  background-color: #3a3a56;
}

.selection-container button.active {
  background-color: #4f4fa1;
  font-weight: 600;
  border-radius: 5px;
}

.selection-container button:not(.active) {
  color: #aaa;
}

.selection-container button:focus {
  outline: none;
}

p {
  margin-bottom: 5px;
  color: #9192a0;

  font-weight: 500;
  font-size: 0.8rem;
}

.container-board {
  width: 700px;
  height: 600px;

  background-color: #1a1c2f;
  border-radius: 0 8px 8px 0;

  padding: 20px 70px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
}

.card {
  width: 100%;
  height: 100%;

  background-color: #24263e;
  cursor: pointer;
  border: none;
}

.container-buttons {
  width: 100%;
  display: flex;
}

.custom-input {
  width: 100%;
  height: 40px;
  margin-top: 3px;
  padding: 10px;
  padding-left: 28px;

  background-color: #1a1a2e;
  border: none;

  font-size: 1rem;
  color: #9192a0;
  border-radius: 8px ;
}

.custom-input:focus {
  outline: none;
}
